{% extends "base.html" %}

{% block content %}
    <ul class="todo-list">
      {% for b in besitzer %}
        <li>
          Kundennummer: {{ b.id }} , <strong>{{ b.vorname }} {{ b.nachname }}</strong><br>
          Adresse: {{ b.adresse }},
          Telefon: {{ b.telefon }}
          <form action="/kunde/delete" method="POST" style="display:inline;">
            <input type="hidden" name="id" value="{{ b.id }}">
            <button type="submit" class="btn btn-danger btn-sm">Löschen</button>
          </form>
        </li>
      {% else %}
        <li>Keine Besitzer*innen gefunden.</li>
      {% endfor %}
    </ul>
    <hr>

    <h3>Besitzer*in hinzufügen:</h3>
    <div class="todo-form">
      <form action="." method="POST">
        <div class="form-group">
          <label for="vorname">Vorname</label>
          <input type="text" id="vorname" name="vorname" class="form-control"
            placeholder="Vorname" required />
          <input type="text" id="nachname" name="nachname" class="form-control"
            placeholder="Nachname" required />
          <input type="text" id="adresse" name="adresse" class="form-control"
            placeholder="Adresse" required />
          <input type="text" id="telefon" name="telefon" class="form-control"
            placeholder="Telefon" required />
        </div>
        <button type="submit" class="btn btn-primary">Hinzufügen</button>
      </form>
    </div>
{% endblock %}

      